<div class="container" [@container]="containerEffect">
  <img class="random-face avatar bye" *ngIf="url" [src]="url" alt="" [@faceAnimated]="faceEffect">
  <div class="buttons">

    <button class="homero" (mouseover)="changeEffectFace('round')" (mouseleave)="clearEffect()">Round out</button>
    <button class="homero" (mouseover)="changeEffectFace('rotate')" (mouseleave)="clearEffect()">Rotate</button>
    <button class="homero" (mouseover)="changeEffectFace('hinge')" (mouseleave)="clearEffect()">Hinge</button>
    <button class="homero" (mouseover)="changeEffectFace('crazy')" (mouseleave)="clearEffect()">Crazy Time</button>
    <button class="homero" (mouseover)="changeEffectContainer('bye')" (mouseleave)="clearEffect()">Bye!</button>
  </div>
</div>